p, .faq_description {
    color:#000
}

.video1, .video2, .videos{
    cursor: pointer
}
.video1-title, .video2-title {
    position: absolute;
    left: 50%;
    top: 50%;
    color: #fff;
    z-index: 1000;
    transform: translateX(-50%);
}

.video1-title:hover, .video2-title:hover {
    background : #008a9e;
    padding : 2px;
}
.faq_description {
    display: none
}

.modal-body, .modal-header {
    text-align: center;
}