.video1, .video2, .videos{
    cursor: pointer
}

.faq_description {
    display: none
}

.modal-body, .modal-header {
    text-align: center;
}
p, span {
    color: #000
}

/*contacts*/
.contact__item {
    cursor: pointer;
}